*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto Slab", "Bricolage Grotesque";
}


#Header{




}

#list{
    float: left;


}

#main{
    float: right;


}
























































































