
.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto Slab", "Bricolage Grotesque";
    /*colors hex green dark :297373 light green: #C2E7DA black:#1F1F1F stark white:FFFFFF slightly darker white:#FEFDFC even darker white: #FDFAF9 */
}



body{
    width: 100%;
}

/*Header*/

#Header{
    width: 100%;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #297373;
    box-shadow: 5px 5px 5px #112e2e49;
}

.loggo{
    display: flex;
    margin: 0 auto;
    margin-left: 25%;
}
.loggo h1{
    color: #C2E7DA;
    font-size: 40px;
    font-family: "Bricolage Grotesque" ;
    margin-right: auto;
    white-space: nowrap;
}

.loggo h1 span{
    color: #1F1F1F;
    font-family: "Bricolage Grotesque" ;
}


/*Navigation list*/

#list{
    width: 20%;
    min-height: calc(100vh - 6vw);
    float: left;
    background-color: #ccc;
    font-size: 20px;
}

#list input{display: none;}
#list label{
    background-color: #ccc;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
#list label:hover{filter: brightness(90%);}
#list input:checked+label{filter: brightness(80%);}
#list input:checked+label:hover{filter: brightness(75%);}

/*Main*/

#main{
    width: 80%;
    min-height: calc(100vh - 6vw);
    height: auto;
    float: right;
}
/*start*/
#div1{
    display: block;
    padding: 2%;
}
.leftbox {
    padding: 1%;
    background-color: #C2E7DA ;
    display: inline-flex;
    flex-direction: column;
    float: left;
    margin: 0;
    border-radius: 15px;
    height: 10rem;
    box-shadow: 2px 2px 5px #2973734f;

}
.leftbox p {
    font-size: 20px;
    cursor: default;
}
.leftbox ul li {
    text-decoration: underline;
    list-style: none;
    font-size: 12px;
    padding-top: 10px;
    cursor: default;
}

.leftbox:hover {
    filter: brightness(105%);
    transition: 0.05s;
}

#div1 h2{
    display: inline-flex;
    flex-direction: column;
    margin-left: 5%;
    cursor: default;
}

.rightbox{
    padding: 1%;
    background-color: #C2E7DA ;
    display: inline-flex;
    flex-direction: column;
    float:right;
    border-radius: 15px;
    cursor:default;
    box-shadow: 2px 2px 5px #2973734f;
}

.rightbox img {
    height: 10rem;
}

.rightbox:hover {
    filter: brightness(105%);
    transition: 0.05s; 
}


#div2{ 
    display:none;
    padding: 2%;
}
#div3{ display:none;}

/*Flash cards*/

#flashcardsbtn{
    width: 50px;
    height: 50px;
    background-color:  #297373;
    float: left;
    border-radius: 20px;
    margin: 1%;
    box-shadow: 2px 2px 2px #2973734f;
}

#flashcardsbtn:hover{
    box-shadow: 3px 3px 5px #2973734f;
    transition: 0.1s ease-in;

}
#flashcards{
    width: 70%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem; 
    border-radius: 15px;
    margin-top: 1%;


}

.flashcard{
    padding: 1%;
    background-color: #C2E7DA ;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #2973734f;
    height: 5vw;
    margin-left: 5%;
    margin-top: 5%;
    width: 25%;

}
#flashcardsedit{
    display: none;
    float: left;
    padding: 1%;
    background-color: #297373;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #2973734f; 

}



.hiddentable{display: none;}



/*Assignments*/

#assignmentbtn{
    width: 15%;
    padding: 1vw;
    margin: 3%;
    border-radius: 1000px;
    background-color: #C2E7DA;
    box-shadow: 2px 2px 2px #2973734f;
    font-size: 14px;
}

#assignmentform{
    display:none;
    background-color: #C2E7DA;
    border-radius: 10px;
    width: 15%;
    height: auto;
    float: left;
    margin: 3%;
    box-shadow: 2px 2px 5px #2973734f;
}
#assignmentform h5{
    text-align: center;
    margin:5%;
}
#asserr{
    display: none;
    color: red;
    font-size: 8px;
    width: 90%;
    margin: 0 5%;
}
#assignmentform label{
    font-size: 12px;
    display: inline;
    margin: 5%;
}
#assignmentform input, select{
    margin: 0 5% 5%;
    border-radius: 1000px;
    width: 90%;
    padding-left: 5%;
    box-sizing: border-box;
}
#assignmentform button{
    width: 40%;
    height: 3vw;
    margin: 5%;
    background-color: white;
    border-radius: 10px;
}
#cancelbutton{float: right;}


#assignmenttable{
    width: 70%;
    height: auto;
    float: right;
    background-color: #C2E7DA;
    margin: 3%;
    padding: 0 1vw 2vw 1vw;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #2973734f;
    border-collapse: collapse;
    overflow: hidden;
}
#assignmenttable tr{
    border-radius: 10px;
}
tr:nth-child(even) {background-color: #a7dcca;}
#assignmenttable td{
    width: 12%;
    text-align: center;
    margin: none;
    margin-top: 20px;
}
#assignmenttable th{
    width: 12%;
    padding: 1vw;
}
#assignmenttable button{
    background-color: white;
    border-radius: 50px;
    padding:3%;
    margin: 3%;
}
button:hover{
    filter: brightness(105%);
    transition: 0.1s;
    box-shadow: 3px 3px 5px #2973734f;
}

/*Footer*/

footer{
    width: 100%;
    background-color:  #297373;;
    float: right;
    height: 15vw;
}

















































































