


*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto Slab", "Bricolage Grotesque";
}



body{
    width: 100%;
}

/*Header*/

#Header{
    height: 6vw;
    width: 100%;
    display: flex;
    background-color: #297373;
}



/*Navigation list*/

#list{
    width: 30%;
    height: 100vw;
    float: left;
    background-color: black;
}





/*Main*/

#main{
    float: right;
}
























































































