
.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto Slab", "Bricolage Grotesque";
    /*colors hex green dark :297373 light green: #C2E7DA black:#1F1F1F stark white:FFFFFF slightly darker white:#FEFDFC even darker white: #FDFAF9 */
}



body{
    width: 100%;
    min-height: 100vh;
}

/*Header*/

#Header{
    width: 100%;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #297373;
    box-shadow: 5px 5px 5px #112e2e49;

}

.loggo{
    display: flex;
    margin: 0 auto;
    margin-left: 25%;
}
.loggo h1{
    color: #C2E7DA;
    font-size: 40px;
    font-family: "Bricolage Grotesque" ;
    margin-right: auto;
    white-space: nowrap;
}

.loggo h1 span{
    color: #1F1F1F;
    font-family: "Bricolage Grotesque" ;
}

.login{
    display: inline-block;
    margin-left: 40%;
    
}
.login img {

    max-width: 30%;
}

.login img :hover {
    text-shadow: 4px 4px;
}

/*Navigation list*/

#list{
    width: 20%;
    min-height: calc(100vh - 6vw);
    float: left;
    background-color: #ccc;

    font-size: 20px;
}

#list input{display: none;}
#list label{
    background-color: #ccc;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
#list label:hover{filter: brightness(90%);}
#list input:checked+label{filter: brightness(80%);}
#list input:checked+label:hover{filter: brightness(75%);}

/*Main*/

#main{
    width: 80%;
    min-height: calc(100vh - 6vw);
    float: right;
}

#div1{ display:block;}
#div2{ display:none;}
#div3{ display:none;}

/*Footer*/

footer{
    width: 100%;
    background-color: blueviolet;
}

















































































