


*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto Slab", "Bricolage Grotesque";
}


/*Header*/

#Header{
    display: flex;
}



/*Navigation list*/

#list{
    float: left;
}





/*Main*/

#main{
    float: right;
}
























































































