
.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto Slab", "Bricolage Grotesque";
    /*colors hex green dark :297373 light green: #C2E7DA black:#1F1F1F stark white:FFFFFF slightly darker white:#FEFDFC even darker white: #FDFAF9 */
}



body{
    width: 100%;
    min-height: 100vh;
}

/*Header*/

#Header{
    width: 100%;
    height: 6vw;
    display: flex;
    background-color: #297373;
}



/*Navigation list*/

#list{
    width: 20%;
    min-height: calc(100vh - 6vw);
    float: left;
    background-color: #ccc;

    font-size: 20px;
}

#list input{display: none;}
#list label{
    background-color: #ccc;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}
#list label:hover{filter: brightness(90%);}
#list input:checked+label{filter: brightness(80%);}
#list input:checked+label:hover{filter: brightness(70%);}

/*Main*/

#main{
    width: 80%;
    min-height: calc(100vh - 6vw);
    float: right;
}





/*Footer*/

footer{
    width: 100%;
    background-color: blueviolet;
}

















































































